Source: python-twistfuse
Section: python
Priority: optional
Maintainer: Matthias Urlichs <smurf@smurf.noris.de>
Build-Depends: debhelper (>= 5), python-central (>= 0.5), python-all-dev, python-twisted-core (>= 10.1)
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-twistfuse
Architecture: all
Depends: ${python:Depends}, python (>= 2.6), python-twisted-core (>= 10.1), python-sqlmix, fuse-utils (>> 2.8)
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: A Twisted-style adapter to the FUSE kernel
 This Python module implements an asynchronous, Twisted-compatible
 interface to FUSE. It accepts Deferred results for all front-end
 methods, does not itself fork or block, and does not depend on
 any other FUSE library (except for the 'fusermount' binary).
 .
 A recent kernel is required; there currently is no compatibility mode for
 older FUSE protocol versions.

